<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://comboprojectreference20170526084709.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>comboprojectreference20170526084709.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ComboProjectReference20170526084709</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ComboProjectReference20170526084709</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OracleMobileDB" Order="1" Enabled="False">
          <Destination Path="Data Source=10.41.20.41:1521/mobile;User ID=APP;Password=admin@123" Name="DATA SOURCE=10.41.20.41:1521/mobile;PASSWORD=admin@123;USER ID=APP" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MobileService45.Models.OracleMobileDB, MobileService45" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Mobile" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="USER ID=APP;PASSWORD=admin@123;DATA SOURCE=&quot;(DESCRIPTION =  (ADDRESS = (PROTOCOL = TCP)(HOST = 10.41.20.41)(PORT = 1521))(LOAD_BALANCE = yes) (CONNECT_DATA =  (SERVER = DEDICATED) (SERVICE_NAME = MOBILE)))&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Mobile_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Test1.csdl|res://*/Models.Test1.ssdl|res://*/Models.Test1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION =  (ADDRESS = (PROTOCOL = TCP)(HOST = 10.41.20.41)(PORT = 1521))(LOAD_BALANCE = yes) (CONNECT_DATA =  (SERVER = DEDICATED) (SERVICE_NAME = MOBILE)));PASSWORD=admin@123;USER ID=APP&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GTTB" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="USER ID=GIAOTIEPTB;PASSWORD=abc123;DATA SOURCE=10.41.20.21:1521/CSSTHA;PERSIST SECURITY INFO=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GTTB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.GTTBCSSTHA.csdl|res://*/Models.GTTBCSSTHA.ssdl|res://*/Models.GTTBCSSTHA.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.41.20.21:1521/CSSTHA;PASSWORD=abc123;PERSIST SECURITY INFO=True;USER ID=GIAOTIEPTB&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OracleMobileDB-Web.config Connection String">
      <ParameterValue>DATA SOURCE=10.41.20.41:1521/mobile;PASSWORD=admin@123;USER ID=APP</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>